*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}
body {
    font-family:'Times New Roman', Times, serif;
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: top right,bottom left;  
}
.annual{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 800;
    color: gray;
    position: relative;
}
.divCheckbox{
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 200%;
    left: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.basicpromast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
    margin: 100px;
}
.slider {
    display: flex;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 0 10px;
}

.checkslider {
    position: absolute;
    cursor: pointer;
    background-image: linear-gradient(to right, hsl(250, 53%, 49%), hsl(237, 63%, 64%));
    transition: .1s;
    border-radius: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.checkslider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50px;
}

input:checked + .checkslider::before {
    transform: translateX(25px);
}


.basic {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 220px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
    color: hsl(233, 13%, 49%);
    font-size: 12px;
    font-weight: 800;
    line-height: 45px;

}

.learnmore_btn {
    height: 40px;
    border-radius: 8px;
    text-align: center;
    color: white;
    background-color:rgb(88, 102, 172);
    margin:15px auto;
    width: 150px;
    font-weight: 500;
}
.profesbtn-2.learnmore_btn{
    background-color:white;
    color:black;
}
.pricing {
    color: hsl(232, 13%, 33%);
    font-size: 40px;
    font-weight: 700;
    line-height: 200%;
    text-align: center;
}
.dollar{
    font-weight: 700;
    font-size: 25px;
}
.dollarcontent{
    font-size: 40px;
    font-weight: 800;
    line-height: 200%;
    display: flex;
    justify-content: center;
}

hr {
    min-width: 100%;
    color: black;
    background: black;
}
#professionalcolor{
    background-color:hsl(237, 63%, 64%);
    color: white;
}
.profes.learnmore_btn{
    background: white;
    color:black;
}
.profes.learnmore_btn:hover{
    color: orange;
    font-size: 20px;
}
.dollar2{
    color: black;
}


@media screen and (max-width:350px) {
    .basicpromast {
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
    body {
        background-image: url(./images/bg-top.svg);
        background-position-x: right -180px;
        background-position-y: top -80px;
        background-position: top right;
        background-repeat: no-repeat;
    }
}

